@font-face{
    font-family: RobotoCondensed;
    src:url(assets/roboto-condensed.light.ttf);
    font-weight: 800;
}

@font-face{
    font-family: ValeriaRound;
    src:url(assets/VarelaRound-Regular.ttf);
    font-weight: 800;
}



body{
    text-align: center;
    font-size: 20px;
    padding: 2.5%;
    font-family: 'RobotoCondensed';
}

/* *{
    font-family: 'RobotoCondensed';
} */

.link{ 
    color: #9a3324;
} 

.link:hover{ 
    color: #9a3324;
}

.link:visited{
    color: #9a3324;
}

a{
    color: #9a3324;
}

a:hover{
    color: #9a3324;
}

.content > a{
    color: #9a3324;
}

.content > a:hover{
    color: #9a3324;
}